html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Roboto+Flex&family=Roboto:wght@400;700&display=swap');

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}


/* ■■■■■■■■ NavBar ■■■■■■■■ */

.navbar-container1{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #F6F6F6;
    max-height: 128px;
    z-index: 999;

}

    .navbar1{
        position: sticky;
        display: flex;
        flex-direction: row;
        top: 0;
        max-height: 110px;
    }

        .logo1{
            max-width: 230px;
            min-height: 190px;
            margin-left: 38.8px;
        }

        .nav-list1{
            list-style:none;
            color: blue;
            padding: 10px;
            justify-self: flex-end;
        }

            .nav-item1{
                display: inline-block;
                margin: 10px;
                padding:0 7px; 
                position:relative;
                font-family: 'Montserrat', sans-serif;
            }

            .nav-item1 a{
                text-decoration: none;
                color:#00329D;
                font-weight: bolder;
                font-size: 1.40rem;

            }

            .nav-item1 a:hover{
                color: #1453db;
            }

            .navbar1 ul li:not(:last-child)::after{
                content:""; 
                border:2px solid #00329D;
                border-width: 2px 2px 0 0;
                position:absolute; 
                right:-14px; 
                top:0; 
                height:100%;
            }

            /*Blue line*/
            .navbar-container1::after{ 
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.5em;
                border-top: 1px solid #00329D;
                z-index: -1;
            }


/* ■■■■■■■■ Main - Blueprint ■■■■■■■■ */

main{
    background-color: #F6F6F6;
    background-image: url('../../public/images/background_blueprint.png');
    background-position: 100% -5%;
    background-repeat: no-repeat;
    background-size: 1700px;
}

    .blueprint-container1{
        min-height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        margin: 0rem 1rem 3rem 1rem;

    }

    .blueprint1{
        position:relative;
        width: 35%;
        margin-left: 10rem;
    }

        .blueprint1 h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 54px;
            font-weight: 700;
            color: #00329D;
            margin-bottom: 40px;
        }

        .blueprint1 p{
            font-family: 'Roboto', sans-serif;    
            font-size: 24px;
            font-weight: 400;
            color: #9095A1;
            margin-bottom: 40px;
            max-width: 75%;
        }

        .blueprint1 button{
            color: #F6F6F6;
            font-family: 'Roboto', sans-serif;    
            font-size: 20px;
            font-weight: 700;

            position: relative;
            display: inline-block;
            white-space: nowrap;
            text-align: center;

            padding: 18px 25px;
            opacity: 0.85;
            border-radius: 5px;

            background-color: #00329D;
            border: none;
            cursor: pointer;
        }

        .blueprint1 button:hover{
            background-color: #1453db;

        }

        .blueprint1 a {
            position: relative;
            width: 121px;
            height: 30px;

            font-family: 'Roboto', sans-serif;    
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;

            color: #00329D;
            justify-self: center;
            align-self: center;
            margin-left: 15px;
            text-decoration: none;
            cursor: pointer;
        }

        .blueprint1 a:hover{
            color: #1453db;

        }


/* ■■■■■■■■ Spash Image and Grid 2x2 ■■■■■■■■ */

.solutions-container1{
    width: 75%;
    min-height:550px;
    margin: auto;
    background-color: #F6F6F6;
    box-shadow: -4px 5px 100px rgba(0, 0, 0, 0.2);
    padding:2%;
    border-radius: 15px;
}

    .solutions-container1 h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: 700;
        color: #00329D;
        position: relative;
        margin-top: 45px;
        margin-left: 10px;
    }

    .solutions-container1 h2::before{
        content:""; 
        border-left:2px solid #00329D;
        content: "";
        position: absolute;
        top: 20%;
        left: -1%;
        width: 3px; 
        height: 50px; 
        margin-right: 10px;
    }

    /*splash image*/

    .split-image1 img{
        max-width: 320px;
        min-height: 422px;
        margin-top: 70px;
    }

    /* GRID items 2x2 with hover effect*/

  
    /* 2nd section - flame */
    
    /* .overlay-container{
        position: relative;
    } */

    #flame-solutions1{
        margin-top: 5%;
        margin-left: 5%;
        max-width: 38%;
        min-height: 68%;

    }

    .flame-wave-container1 #wave-solutions{
        z-index: 1;
        position: relative;
        top:-25rem;
        width: 100%;
    }

    /* 2nd section - 4 icons companies */

    .grid-icons1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15%;
        justify-content: center;    
        align-self: flex-start;
        margin-top: 12%;
        margin-left:1%;
    }

        .icon-circle1{
            background-color: #F6F6F6;
            border-color: #000;
            border:2px;
            border-style: solid;
            border-radius: 50%;
            width: 120px;
            height: 120px;

            background-image: url('../../public/images/batch_logo.png');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .icon-circle1:hover{
            background-image: url('../../public/images/Logo_example.png');
        }

        .icon-circle2{
            background-color: #F6F6F6;
            border-color: #000;
            border:2px;
            border-style: solid;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            grid-column-start: 2;

            background-image: url('../../public/images/batch_logo.png');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .icon-circle2:hover{
            background-image: url('../../public/images/Logo_example.png');

        }

        .icon-circle3{
            background-color: #F6F6F6;
            border-color: #000;
            border:2px;
            border-style: solid;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            grid-column-start: 3;

            background-image: url('../../public/images/batch_logo.png');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }    

        .icon-circle3:hover{
            background-image: url('../../public/images/Logo_example.png');

        }

        .circle-anchor1{
            align-self:center;
            color:transparent;
            cursor: pointer;
        }

/* 
.grid-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.grid-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}

.grid-3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.grid-4{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}
 */

/* ■■■■■■■■ Carrousel ■■■■■■■■ */

/*whole section*/

.carrousel1{
  max-width: 75%;
  margin: 2% auto 3% auto;
  border: #00329D;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: -4px 5px 20px rgba(0, 0, 0, 0.2);
}

  .opinions-section h2{
    font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #00329D;
      position: relative;
      margin-left: 40%;
      margin-top: 3%;
  }

  /* Testimonios*/

  .testimonios {
    padding: 40px 40px 80px 40px;
  }
  .testimonios .carousel {
    max-width: 70%;
  }

  .carousel-item {
    height: 500px;
  }

  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
  }

  .testimonio-texto {
    max-width: 70%;
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    color: #4d4f54;
    margin: 1rem;
  }

  .testimonio-info {
    font-weight: bold;
    text-align: center;
    margin: 1%;
  }

  .testimonio-info p {
    margin-bottom: 1%;
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
  }

  .testimonio-footer, .nombre_cliente {
    font-size: 1.2rem;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    color: #00329D;
  }

  .testimonio-info .cargo_cliente {
    font-size: 0.9rem;
    color: #656060;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
  }



/* ■■■■■■■■ Form ■■■■■■■■ */

.form-container1{
    border: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: #00329D;
    padding:1%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #F6F6F6;
    max-width: 75%;
    margin: auto;
    box-shadow: -4px 5px 100px rgba(0, 0, 0, 0.2);

}

    .form-container1 h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: #00329D;
        position: relative;
        margin-top: 2rem;
        margin-left: 10px;
    }

    .even-columns1{
        display: flex;
        flex-direction: row;
    }

        .form-col1{
            display:flex;
            flex-direction: column;
            width: 90%;
            margin:1.5rem 2rem 0.5rem 2rem;
            margin-right: 10rem;
            padding:20px;
        }

        .form-col2{
            display:flex;
            flex-direction: column;
            width: 100%;
            margin: 1.5rem 2em 0.5rem 2rem;
            margin-top: 5rem;
            padding:20px;
        }

            .form-label1{
                font-family: 'Roboto Flex', sans-serif;
                font-size: 20px;
                font-weight: 400;
                color: #9095A1;

                margin: 1rem;
                margin-bottom: 0;
            }

            .form-input1{
                font-family: 'Roboto Flex', sans-serif;
                font-size: 20px;
                font-weight: 400;
                height: 4rem;
                width: 120%;

                margin: 0.25rem 1rem;
                background-color: #2aa9d0;
                color:#F6F6F6;
                border: none;
                border-radius: 5px;
                padding: 20px;

            }

            .radio-container1{
                margin-bottom: 0.5rem;
            }

            .form-radio1{
                width: 20px;
                height: 20px;
                background-color: #9095A1;
                display: inline;
            }

            .radio-label1{
                display: inline;
                margin-bottom: 0.25rem;
            }

            .form1 input::placeholder, #text-area::placeholder{
                color:#cdcccca4;
            }

            #text-area{
                min-height: 50%;
                width: 100%;
                margin: 0.5rem 2rem 1rem 2rem;
            }

            .text-area-label1{
                margin-top: 3rem;
            }

            .form1 button{
                color: #F6F6F6;
                font-family: 'Roboto', sans-serif;    
                font-size: 20px;
                font-weight: 700;
    
                position: relative;
                display: inline-block;
                white-space: nowrap;
                text-align: center;
    
                padding: 11px 35px 11px 55px;
                opacity: 0.85;
                border-radius: 5px;
    
                background-color: #00329D;
                border: none;
                cursor: pointer;
                margin-right: 1rem;

                max-width: 80%;
                align-self: flex-end;
            }

            .form1 button:hover{
                background-color: #1453db;
            }

            .bi{
              font-size: 1.8rem;
              margin:2rem 1rem 2rem 1rem;
            }

/* ■■■■■■■■ Footer ■■■■■■■■ */


.footer-container1{
    align-items: center;
    justify-content: space-evenly;
    background-color: #00329D;
    height: 200px;
}

.footer-container1 h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21.25px;
    color: #F6F6F6;
    margin-bottom: 30px;
}

.footer-container1 p, li, a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F6F6F6;
}






/*Effect hover of 2x2 GRID items*/

.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  .ag-offer-block {
    padding: 50px 0 90px
  }
  .ag-offer_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .ag-offer_item {
    width: 33.33%;
  
    overflow: hidden;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    position: relative;
  }
  .ag-offer_item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    border-top: 1px solid #F6F6F6;
  }
  .ag-offer_item:not(:nth-child(3n)) {
    border-right: 1px solid #F6F6F6;
  }
  .ag-offer_item:nth-child(1) .ag-offer_hidden-item {
    background-color: #00329D;
  }
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item {
    background-color: #00329D;
  }
  .ag-offer_item:nth-child(3) .ag-offer_hidden-item {
    background-color: #00329D;
  }
  .ag-offer_item:nth-child(4) .ag-offer_hidden-item {
    background-color: #00329D;
  }
  .ag-offer_item:nth-child(5) .ag-offer_hidden-item {
    background-color: #00329D;
  }
  .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
    background-color: #00329D;
  }
  .ag-offer_item:hover .ag-offer_visible-item {
    opacity: 0;
  
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .ag-offer_visible-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    height: 100%;
    width: 100%;
    padding: 35px 40px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: .4s .3s;
    -moz-transition: .4s .3s;
    -o-transition: .4s .3s;
    transition: .4s .3s;
  }
  .ag-offer_img {
    height: 64px;
    width: 64px;
    margin: 0 15px 0 0;
  }
  .ag-offer_title {
    font-size: 22px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-offer_hidden-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    padding: 30px;
  
    opacity: 0;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    -webkit-transform: rotate(180deg) scale(0);
    -moz-transform: rotate(180deg) scale(0);
    -ms-transform: rotate(180deg) scale(0);
    -o-transform: rotate(180deg) scale(0);
    transform: rotate(180deg) scale(0);
  
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  .ag-offer_item:hover .ag-offer_hidden-item {
    opacity: 1;
  
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }
  .ag-offer_text {
    max-width: 100%;
  
    opacity: 0;
    
    font-size: 20px;
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;
    font-weight: 400;
  
    -webkit-transition: .3s .5s;
    -moz-transition: .3s .5s;
    -o-transition: .3s .5s;
    transition: .3s .5s;
  }
  .ag-offer_item:hover .ag-offer_text {
    opacity: 0.9;
  }

  .ag-offer_item:hover{
    opacity: 0.8;

  }

  .ag-offer_btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #F6F6F6;
  
    position: absolute;
    top: 50%;
    left: 50%;
  
    white-space: nowrap;
    font-size: 25px;
    color: #F6F6F6;
    
  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .ag-offer_btn:hover {
    border: 2px solid #00329D;
    background-color: #FFF;
  
    text-decoration: none;
    color: #00329D;
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-offer_item {
      width: 100%;
      margin:  0 0 30px;
      border: 0 none !important;
      border-bottom: 1px solid #c1c1c1 !important;
    }
    .ag-offer_visible-item {
      padding: 0 20px 30px;
  
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .ag-offer_item:hover .ag-offer_visible-item {
      opacity: 1;
  
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    .ag-offer_hidden-item {
      padding: 0 20px 20px;
  
      opacity: 1;
  
      position: static;
  
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
      background-color: transparent;
    }
    .ag-offer_item:hover .ag-offer_text {
      opacity: 1;
    }
    .ag-offer_title {
      font-weight: bold;
      color: #00329D;
    }
    .ag-offer_text {
      opacity: 1;
  
      font-size: 18px;
      color: #000;
    }
    .ag-offer_btn {
      border: 2px solid #00329D;
      background-color: #00329D;
  
      position: static;
  
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }

  .ag-offer_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:200px;
    margin-top: 70px;
    width: 50%;
    height:80%;
  }
  
  .ag-offer_item {
    width: 48%; 
    margin-bottom: 30px;
    border: none !important;
    border-radius: 10px;
    opacity: 0.9;

  }

  .ag-offer_item h4{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  @media only screen and (max-width: 767px) {
    .ag-offer_item {
      width: 100%;
      margin: 0 0 30px;
    }
  }

  .ag-offer_title {
    font-weight: bold;
    color: #00329D;
  }


 